{% extends "Brinvest/layout.html" %}
{% load static %}

{% block body %}
    <div id="Main_page" style="display: block;">

        <div class="search-box">
            <h2 class="Title_search">Search for Stocks</h2>
            <input type="text" class="stock-search-input" placeholder="Search for stocks...">
        </div>

        <div style=" margin-top: 50px;" id="tops_container">
            <div class="tops-row">
                <div class="tops-block" id="Stocks-block">
                    <h2 class="Title_search">Top Stocks</h2>
                    <div class="table-wrapper">
                        <table class="tops-table">
                            <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Name</th>
                                    <th>Price($)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- rows will be injected here -->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tops-block" id="Rated-block">
                    <h2 class="Title_search">Best Rated Stocks</h2>
                    <div class="table-wrapper">
                        <table class="tops-table">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Name</th>
                                <th>Score(0-5)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- rows will be injected here -->
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
        

    </div>

    <div id="Stocks_page" style="display: none;">

        <div class="search-box">
            <h2 class="Title_search">Search for Stocks</h2>
            <input type="text" class="stock-search-input" placeholder="Search for stocks...">
        </div>

        <div style=" margin-top: 50px;" id="stocks_container">
            <div class="tops-row">
                <div class="tops-block" id="Stocks-block">
                    <h2 class="Title_search">All Stocks</h2>
                    <div class="table-wrapper">
                        <table class="tops-table">
                            <thead>
                                <tr>
                                    <th>Symbol</th>
                                    <th>Name</th>
                                    <th style="text-align: center;">Price($)</th>
                                    <th style="text-align: center;">P/E Ratio</th>
                                    <th style="text-align: center;">Market Cap (Mil)</th>
                                    <th style="text-align: center;">Exchange</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- rows will be injected here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="Stock_page" style="display: none;">

    </div>

    <div id="News_page" style="display: none;">

    </div>

    <div id="Watchlist_page" style="display: none;">
    
    </div>

    <div id="Currency_page" style="display: none;">

    </div>


{% endblock %}

{% block script %}
    <script>
        window.currentUser = "{{ request.user.username|escapejs }}";
    </script>
    <script src="{% static 'Brinvest/Brinvest.js' %}"></script>
{% endblock %}
